<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CheckList System{% endblock %} - PARFUM PRESTIGE SA</title>
        <link rel="icon" href="{{ asset('images/Logo.png') }}">
        <link href="{{ asset('assets/css/all.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-pro/css/all.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>

    <!-- Barre de menu fixe -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_interface_user') }}"><img src="{{ asset('images/Logo.png') }}" width="60" alt="PARFUM PRESTIGE S.A">PARFUM PRESTIGE S.A</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                <form class="d-flex">
                    <a href="" class="btn btn-default"><i class="fad fa-info-circle text-primary"></i> Documentation</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="bg-dark pt-2 pb-1">
        <h4 class="text-white text-center">CHECKLIST SYSTEM <sup>1.0</sup></h4>
    </div>

        {% block body %}{% endblock %}
        <script src="{{ asset('assets/js/all.min.js') }}"></script>
    </body>
</html>
